.header {
  background: #eee url('../../header-bk.png') center;
  background-size: cover;
  border-bottom: 1px solid #ccc;
}
.content {
  width: 100%;
  padding: 40px 16px;
  overflow: auto;
}

.site-title {
  font-weight: 300;
  font-size: 42px;
  float: left;
  margin-right: 100px;
}

.site-title a {
  text-decoration: none;
  color: white;
}

.navitem {
  display: inline-block;
  color: #FFF;
  background: black;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 1000px;
  margin-left: 15px;
}